<div class="container p-3">
  <div class="row">
    <div class="col-9">
      <h1>健康記録一覧</h1>
    </div>
    <div class="col-3 text-end">
      <%= link_to '新規健康記録', new_health_record_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>日付</th>
      <th>気分</th>
      <th>ストレス</th>
      <th>疲労</th>
      <th>睡眠時間</th>
      <th>睡眠の質</th>
      <th>メモ</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @health_records.each do |health_record| %>
      <tr>
        <td><%= health_record.date.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= health_record.mood %></td>
        <td><%= health_record.stress %></td>
        <td><%= health_record.fatigue %></td>
        <td><%= health_record.sleep_duration %></td>
        <td><%= health_record.sleep_quality %></td>
        <td><%= health_record.memo %></td>
        <td>
          <%= link_to '詳細', health_record %>
          <%= link_to '編集', edit_health_record_path(health_record) %>
          <%= link_to '削除', health_record, method: :delete, data: { confirm: '本当に削除しますか？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

